

body {
	background-color: #0066ff;
}
body p {
	display:none;
}
h1 {
	display:none;
}

#titleImage {
	display:none;
}
ul {
   display:none;
}


table {
	padding-top: 50px;
	margin: auto;
	padding-bottom: 50px;
}

 td {
	border-radius: 5px;
	border: 2px solid #00ccff;
	background-color: #66ffe0;
	height: 50px;
	width: 300px;
	margin: auto;
	text-align: center;
	color: black;
	font-size: 25px;
}

td a {
	text-decoration: none;
	color: #0000cc;
	display: block;
}
